#loading-message {
     position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    z-index: 100;
    justify-content: center;

}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-right: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
