@import url('palabras.css');
@import url('pestanas.css');
@import url('textos.css');
@import url('biblioteca.css');
@import url('practicas.css');
@import url('subir_texto.css');
@import url('progreso.css');

/* @import url('componentes/menus.css'); */
